#top {
  color: #56d060;
  padding: 4%;
  font-size: 150%;  
  background-color: rgb(145, 55, 27); 
}
.main-wrapper {
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  align-items: center;
}
a.link-website {
  text-decoration: none;
  color: black;
  padding: 60px;
  margin: 20px;
  border: 1px solid blue;
  border-radius: 10px;
}
.footer-center {
  text-align: center;
  font-family: monospace;
}
a.link-website:hover {
  background: lightgrey;
  opacity: 80%;
}
#top h1 {
  margin:0;
  line-height: 50px;
}
#main {
  padding: 3%;
 
}
#sidebar {
  padding: 3%;
  background-color: #d66741;
  font:80%;
  ;}

  .flex-box{
    display: flex;
    background-color: #f4d8d8;
  }

  #menulist{
    padding: 0;
    margin: 0;
    width: 200px;
  }
  .menuitem{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(30, 11, 11);
    font-weight:bold;
    list-style: none;
    height: 50px;
  }
  .menuitem:nth-child(odd){
    background-color:#04AA6D;

  }
  .menuitem:nth-child(even){
    background-color:#83aa04;
 }
#bottom {
  text-align: center;
  padding: 1%;
  font-size: 70%;
  background-color: rgb(145, 55, 27);
}
#old {
  border-radius: 1%;
margin: 3%;
border: 3px solid #6568cb;
}

#mainContentArea {margin :10%;}
.common-button{
  text-align: center;
    padding: 5px;
    width: 65px;
    height: 20px;
    border-radius: 10px;
    color: green;
    border: 2px solid green;
    cursor: pointer;
    position: fixed;
    top: 0px;
    right: 0px;
    text-decoration: none;
}
#title {
  font-weight: bold;
  font-size: 300%;
}

#blueBox {background: #cfe5fb ;
  /* box-shadow: 0px -2px 2px rgba(34,34,34,0.6); */
  border-radius: 10px;
  padding: 3%;
}
.blue-bliss-flex{
  display: flex;
  justify-content: space-between;
    align-items: end;
}


#linkGroup {
  display: flex;
  justify-content: end;
  flex: 1;
  margin-right: 10px;
}
.link{
  background: #cfe5fb;
    margin: 8px 5px 0px 5px;
  padding: 7px;
  border-radius: 5px 5px 0px 0px;
}
.link:hover{
  background: #b5c8ea;
}
.blue-bliss-a{
  text-decoration: none;
  color: black;
    font-weight: 600;
}
.blue-bliss-footer-a{
  color: inherit;
  text-decoration: none;
}
.contentTitle {font-size:200%;}

#footer{text-align: center;
font-size: 70%;
color: #85bccd;
}


#content{text-align: center;}


#container{margin: 0% 18%;
align-items: center;
;}
#header{ display: flex;
justify-content: space-between;
color:#a9d1fa;
margin: 0px 4px 1px 4px;
}
#brain{padding:10px 0px 0px 0px;
}
.off{color: #4c8bea ;}
#menu{background-color:white;
flex-direction: column;}


#page { border: 20px solid #bed2b7 ;
  border-radius: 30px;
}
#headerone{background-color: #e8d07e;
  color : black;
  border-radius: 10px 10px 0px 0px;
}
#headerTitle{font-size: 3em;
}
#headerSubText{color: #5d8250;
  font-weight: bold;
  padding: 0% 0% 3% 0%;
  font-size: large;
}
#bar{display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  color: white;
  background-color: #be9d2d;
  cursor: pointer;
}
#bar>a:hover{ opacity: 50%;
  background: #745f1b;
padding: 5px 12px;}
  

#bar>a{text-decoration: none;
  color: #040211fa;
  font-weight: bold;
  
}
.contentTitle{font-size: 100%;
  background-color:#f6f9f5 ;
  padding: 0px 20px;
}
.contentText{padding: 0px 20px;}


#new{text-align: center;}