body{text-align: center;
    font-family: Verdana,Arial,Helvetica,sans-serif;
}

#header{font: bold;
padding-right: 70%;
font-size: 110%;
}

.menubar-item{display: flex;
    background: #a1b6d8;
    text-align: center;
    border-radius: 10px;
    margin: auto;
}

.menuitem{list-style: none;
    padding: 20px 20px;
    cursor: pointer;
}

.menuitem>a{text-decoration: none;
    font-size: 80%;
}